body {
}

#center{
    width:850px;
    margin:auto;
}

#main {
    overflow: hidden;
}

#Football {
    text-align: center;
    border: 5px solid red;
    padding: 10px;
    float: left;
    height: 100%;
    border-radius:20px;
        
}

#table {
    white-space: nowrap;
}


#side {
    float: left;
    width: 30%;
    height: 100%;
    padding:10px;
}


#input {
    margin-top: 10px;
    margin-bottom: 8px;
}

#addTeam, #deleteTeam, #resetButton, #box {
    margin-top: 20px;
}
