body {
    font-size:22px;
}

.large{
    font-size:30px;
    color:red;
    text-decoration:underline;
    
}

.introduction{
    border:solid;
    margin-bottom:30px;
    margin-top:2px;
    padding:10px;
}

.mainIntroduction{
    margin-bottom:30px;
    margin-top:2px;
    padding:10px;
}

.Skills{
    margin-bottom:50px;
}

.Download{
    margin-bottom:90px;
    color:blue;
}

#MainFlag{
    overflow: hidden;
}

#Flag{
    float:left;
    width:60%;
    height:100%;
    /*border-style:solid;
    border-color:black;*/
}

#FlagImage{
   float:left;
     width:40%;
    height:100%;
}
a span{
    color:blue;
    text-decoration:underline;
}

#MainWatch{
    overflow: hidden;
}

#Watch{
    float:left;
    width:70%;
    height:100%;
}

#WatchImage{
   float:left;
     width:20%;
    height:100%;
    margin-left:10px;
}