#header {
    color: yellow;
    font-size: 50px;
    text-align:center;
    background-color:blue;
    border-style:solid;
    border-color:aqua;
    border-radius: 15px;
    margin:20px;
    
}

a {
    color:white;
     text-decoration:none; 
}

body {
    background-image:url('Images/background.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:5px;
    padding:1px;
    border-color:black;
}

nav {
text-align:center;
height:25px;
background-color:aqua;
border-radius: 12px;
}
nav li {
display:inline;
padding:0px 30px; 
}
nav a {
text-decoration:none; 
font-size: 20px;
color: blue;
}

nav a:hover{
    color:white;
}

#content{
    padding: 20px;
    margin:5px;
}   

#footer{
    padding-top:20px;
    text-align:center;
}